
.order-status {
  align-self: flex-end;
}

.order-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.item-info {
  margin: 0 32px;
}

.img-title{
  text-align: center !important;
}
::ng-deep .img-container {
  height: 150px;
  display: flex;
  justify-content: center;
}
::ng-deep .img-container img {
  height: 100%;
}




