<app-header></app-header>
<div class="order-history">
  <div class="flex flex-wrap gap-3">
    <div class="flex align-items-center">

      <p-radioButton
        name="status"
        [value]="orderStatus.New"
        [(ngModel)]="statusFilter"
        inputId="new"
        (onClick)="radioClick()"
      ></p-radioButton>

      <p-tag [value]="'static.order-status.new' | translate" [severity]="getSeverity(orderStatus.New)"></p-tag>
    </div>
    <div class="flex align-items-center">

      <p-radioButton
        name="status"
        [value]="orderStatus.Completed"
        [(ngModel)]="statusFilter"
        inputId="completed"
        (onClick)="radioClick()"
      ></p-radioButton>

      <p-tag [value]="'static.order-status.completed' | translate" [severity]="getSeverity(orderStatus.Completed)"></p-tag>
    </div>
    <div class="flex align-items-center">

      <p-radioButton
        name="status"
        [value]="orderStatus.Cancelled"
        [(ngModel)]="statusFilter"
        inputId="canceled"
        (onClick)="radioClick()"
      ></p-radioButton>

      <p-tag [value]="'static.order-status.cancelled' | translate" [severity]="getSeverity(orderStatus.Cancelled)"></p-tag>
    </div>
  </div>
<!--  TODO: TableModule  -->
  <div class="order-history-container">

    <div class="order-container" *ngFor="let order of filteredOrders">
      <p-table [value]="order.cartItems">

        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            {{'pages.history.status' | translate}}:
            <p-tag [value]="'static.order-status.' + order.status | translate" [severity]="getSeverity(order.status)"></p-tag>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th>{{'pages.history.image' | translate}}</th>
            <th>{{'pages.history.product-name' | translate}}</th>
            <th>{{'pages.history.price' | translate}}</th>
            <th>{{'pages.history.amount' | translate}}</th>
            <th>{{'pages.history.size' | translate}}</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item>
          <tr>
            <td>{{item.product.name}}</td>
            <td><img src="{{item.product.img}}" alt="{{item.product.name}}" width="100" class="shadow-4" /></td>
            <td>{{item.product.price | currency:'USD'}}</td>
            <td>{{item.count}}</td>
            <td>{{item.product.size}}</td>
          </tr>
        </ng-template>

        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            <div>{{'pages.history.shipping' | translate}}: {{order.shipping | currency}}</div>
            <div>{{'pages.history.total' | translate}}: {{(order.shipping + order.totalPrice).toFixed(2) | currency}}</div>
            <p-button
              [label]="'pages.order.buttons.go-to-order' | translate"
              styleClass="p-button-text p-button-lg"
              (click)="goToOrder(order)"
            ></p-button>
          </div>
        </ng-template>
      </p-table>
    </div>

  </div>
</div>
