<app-header></app-header>
<div class="order-history">
  <div class="flex flex-wrap gap-3">
    <div class="flex align-items-center">

      <p-radioButton
        name="status"
        [value]="orderStatus.New"
        [(ngModel)]="statusFilter"
        inputId="new"
        (onClick)="radioClick()"
      ></p-radioButton>

      <label>{{'static.order-status.new' | translate}}</label>
    </div>
    <div class="flex align-items-center">

      <p-radioButton
        name="status"
        [value]="orderStatus.Completed"
        [(ngModel)]="statusFilter"
        inputId="completed"
        (onClick)="radioClick()"
      ></p-radioButton>

      <label>{{'static.order-status.completed' | translate}}</label>
    </div>
    <div class="flex align-items-center">

      <p-radioButton
        name="status"
        [value]="orderStatus.Cancelled"
        [(ngModel)]="statusFilter"
        inputId="canceled"
        (onClick)="radioClick()"
      ></p-radioButton>

      <label>{{'static.order-status.cancelled' | translate}}</label>
    </div>
  </div>
<!--  TODO: TableModule  -->
  <div class="order-history-container">
    <div class="order-container" *ngFor="let order of filteredOrders">
      <div class="order-status">{{ 'static.order-status.' + order.status | translate}}</div>
      <div class="order-item" *ngFor="let item of order.cartItems">
        <div class="order-item__name item-info">{{item.product.name}}</div>
        <div class="order-item__price item-info">{{item.product.price}}</div>
        <div class="order-item__count item-info">{{item.count}}</div>
      </div>
      <div class="order-item">
        <div class="item-info">{{order.shipping}}</div>
        <div class="item-info">{{order.totalPrice}}</div>
        <div class="item-info">{{order.shipping + order.totalPrice}}</div>
      </div>
      <p-button
        label="Go to order"
        styleClass="p-button-text p-button-lg"
        (click)="goToOrder(order)"
      ></p-button>
    </div>
  </div>
</div>
