/* Стили для header */
.header-container {
  background-color: #fbf3ec;
  height: 100px;
}

.header-container__fixed{
  position: fixed;
  width: 100%;
  z-index: 2;
}

:host::ng-deep .p-toolbar {
  background-color: #fbf3ec;
  height: 100px;
}




.user-avatar {
  cursor: pointer;
}

:host::ng-deep .p-toolbar .user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Стиль для гостевого header */
:host::ng-deep .p-toolbar .guest-header {
  margin-left: 2rem;
  margin-right: 1.5rem;
  font-size: 20px;
}

/* Стиль для Hello */
:host::ng-deep .p-toolbar .hello {
  font-size: 16px;
}

/* Стиль для имени пользователя */
:host::ng-deep .p-toolbar .user-name {
  font-weight: bold;
}

:host::ng-deep .p-toolbar {
  background-color: #fbf3ec;
}


app-menu {
  margin: 0 1vw;
}


::ng-deep .cart .p-toolbar {
  background-color: white;
  height: 100px;
}

.cart-header-title {
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 665px) {
  :host::ng-deep .p-toolbar .guest-header,
  :host::ng-deep .p-toolbar .hello,
  :host::ng-deep .p-toolbar .user-name {
    font-size: 14px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .cart-header-title{
    font-size: 16px;
  }
  .cart-button {
    font-size: 12px;
  }
  app-menu {
    width: 15vw;
  }
}
