<!-- Шаблон для header -->
<div class="header-container">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <ng-container *ngIf="false; else guestTemplate">
        <img src="#" alt="#" class="user-icon">
        <span>
         <span class="hello">Hello</span><br>
         <span class="user-name">#</span>
       </span>
      </ng-container>
      <ng-template #guestTemplate>
       <span class="guest-header">
         <span class="hello">Hello</span><br>
         <span class="user-name">Guest</span>
       </span>
        <button pButton pRipple type="button" label="Log In" ></button>
      </ng-template>
    </div>
    <div class="p-toolbar-group-right">
      <app-menu></app-menu>
    </div>
  </p-toolbar>
</div>

