<div *ngIf="route.url | async as url" class="header-container">
  <div *ngIf="url[0].path === 'shop'">
    <!-- Шаблон для header -->
    <div >
      <p-toolbar >
        <div class="p-toolbar-group-left">
          <ng-container *ngIf="isAuth; else guestTemplate">
            <p-avatar class="user-avatar" label="U" styleClass="mr-2" size="xlarge" routerLink="/profile"></p-avatar>
            <span>
             <span class="hello">{{ 'UI.header.hello' | translate }}</span><br>
             <span class="user-name">{{ user!.nickname }}</span>
           </span>
          </ng-container>
          <ng-template #guestTemplate>
           <span class="guest-header">
             <span class="hello">{{ 'UI.header.hello' | translate }}</span><br>
             <span class="user-name">Guest</span>
           </span>
            <button class="cart-button" pButton pRipple type="button" [label]="'UI.header.login'|translate" routerLink="/login"></button>
          </ng-template>
        </div>
        <div class="p-toolbar-group-right">
          <button pButton class="cart-button" label="{{totalCartPrice | currency}} {{ 'UI.header.cart' | translate }}" routerLink="/cart"></button>
          <app-menu></app-menu>
        </div>
      </p-toolbar>
    </div>
  </div>

  <div *ngIf="url[0].path === 'cart'">
    <!-- Шаблон для header-cart -->
    <p-toolbar class="cart">
      <app-arrow-back class="p-toolbar-group-start"></app-arrow-back>
      <div class="cart-header-title">{{ 'UI.header.my-cart' | translate }}</div>
      <div class="p-toolbar-group-end">
        <app-menu></app-menu>
      </div>
    </p-toolbar>
  </div>

  <div *ngIf="url[0].path !== 'shop' && url[0].path !== 'cart'">
    <!-- Шаблон для header-details -->
    <p-toolbar>
      <app-arrow-back class="p-toolbar-group-left"></app-arrow-back>
      <div class="p-toolbar-group-right">
        <button pButton class="cart-button" label="{{totalCartPrice | currency}} {{ 'UI.header.cart' | translate }}" routerLink="/cart"></button>
        <app-menu></app-menu>
      </div>
    </p-toolbar>
  </div>
</div>

