.container {
  height: 150px;
  width: 100%;
  background-color: transparent;
  position: fixed;
  bottom: 0;
}

.price-panel {
  height: 150px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #0d0da9, #01014f);
  border-radius: 40px;
}

.price-container {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}

.total-title {
  color: rgba(255, 255, 255, 0.75);
}

.product-price {
  font-size: 36px;
  color: white;
  margin-top: 8px;
}

.price-panel__actions{
  display: flex;
  margin-right: 32px;
  align-items: center;
}

@media (max-width: 649px) {
  .price-panel{
    width: 100%;
    left: 0;
    border-radius: 40px 40px 0 0;
  }
}
