<div class="list-item-container">
  <p-tabView [scrollable]="true" (onChange)="filterProducts($event.index)" [activeIndex]="selectedCategoryIndex">
    <p-tabPanel *ngFor="let category of categories" [header]="category" [tooltip]="category">
      <ng-template pTemplate="header">
        <p-chip label="{{ 'static.categories.' + category | translate}}" icon="pi pi-tag"></p-chip>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
      <p-dataView [value]="filteredProducts" layout="grid" [rows]="12">
        <ng-template let-product pTemplate="gridItem">
          <div class="product-item" routerLink="/detail/{{product.id}}">
            <div class="img-container">
              <div class="background"></div>
              <img src="{{product.img}}" alt="{{product.name}}">
            </div>
            <div class="product-info">
              <div class="product-name">{{product.name}}</div>
              <div class="product-size">{{'pages.shop.size' | translate}}: {{product.size}}</div>
              <div class="product-price">{{product.price | currency}}</div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
</div>


