<app-header></app-header>
<div class="contacts-container">
  <p-card header="Contacts" class="contacts-card">
    <div class="card-obout">
      <h3 class="card-content-title">Obout us shop:</h3>
      <p class="card-obout__content">
      This online store boasts high quality and a large assortment of goods of various types, from food products to gaming. Also, one of the advantages of our store is very pleasant prices for both the goods themselves and delivery. Our store was opened recently, namely on May 22, 2023, so we will be glad to hear your feedback and suggestions for improving the quality of using our store.
      </p>
    </div>
    <div class="card-address">
      <h3 class="card-content-title">Our Address:</h3>
      <address class="card-obout__content">
        Written by <a href="mailto:webmaster@example.com">Jon Doe</a>.<br>
        Visit us at:<br>
        Example.com<br>
        Box 564, Disneyland<br>
        USA
      </address>
    </div>
    <div class="card-phone">
      <h3 class="card-content-title">Call us:</h3>
      <p class="card-obout__content">
        If you have any difficulties with placing an order or have problems with working with our website, please call:
        <a href="tel:+375448800553">+375(44)550-01-44</a>
      </p>

    </div>
  </p-card>
</div>
