<app-header></app-header>
<div class="contacts-container">
  <p-card [header]="'pages.contacts.title' | translate" class="contacts-card">
    <div class="card-obout">
      <h3 class="card-content-title">{{'pages.contacts.content.obout.title' | translate}}:</h3>
      <p class="card-obout__content">
        {{'pages.contacts.content.obout.content' | translate}}
      </p>
    </div>
    <div class="card-address">
      <h3 class="card-content-title">{{'pages.contacts.content.address.title' | translate}}:</h3>
      <address class="card-obout__content">
        Visit us at:<br>
        Example.com<br>
        Box 564, {{ 'pages.contacts.content.address.content.disneyland' | translate }}<br>
        {{ 'pages.contacts.content.address.content.usa' | translate }}
      </address>
    </div>
    <div class="card-phone">
      <h3 class="card-content-title">{{ 'pages.contacts.content.phone.title' | translate }}</h3>
      <p class="card-obout__content">
        {{ 'pages.contacts.content.phone.content' | translate }}:
        <a href="tel:+375448800553">+375(44)550-01-44</a>
      </p>

    </div>
  </p-card>
</div>
