::ng-deep app-shopping-cart {
  height: 100%;
  background-color: white;
}

.shopping-cart-container {
  height: 100%;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.cart-item {
  margin-bottom: 24px;
  position: relative;
  padding: 8px;
}
