:host {
  background-color: white;
  height: 100%;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin: auto auto 150px
}

.cart-item {
  margin-bottom: 24px;
  padding: 8px;
}

.price-panel__title {
  margin: 0;
}

.cart-cost-container {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

/* PROMO CODE */
.p-inputgroup {
  width: 600px;
}

/* cost info */

.cart-cost-info {
  display: flex;
  flex-direction: column;
  width: 600px;
  color: rgb(128, 128, 128);
}

.cart-cost-info__total {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;

}

.cart-cost-info__total p {
  margin: 0 0 16px;
}

.cart-cost-info__shipping {
  display: flex;
  justify-content: space-between;
}

.cart-cost-info__shipping p {
  margin: 0;
}

.price-panel {
  height: 150px;
  z-index: 1;
  position: fixed;
  bottom: 0;
  background-color: white;
}

.price-panel__button {
  background-color: white;
  border-radius: 20px;
}

.empty-cart {
  text-align: center;
}







.phone-form__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form__form__code {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 255px;
  margin-top: 16px;
}

.login-form__form__code__input {
  width: 100%;
}

/* В styles.css добавьте следующие стили для ngx-intl-tel-input */
::ng-deep .ngx-intl-tel-input {
  display: flex;
  align-items: center;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  /* Увеличьте высоту компонента */
  height: 53px;
  width: 255px;
  background: white;
}
::ng-deep .ngx-intl-tel-input:focus-within {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
  border: 2px solid #021374;
}

::ng-deep .ngx-intl-tel-input .iti__flag-container {
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

::ng-deep .ngx-intl-tel-input .iti__flag-container .iti__selected-flag {
  margin-right: 0.25rem;
}

::ng-deep .ngx-intl-tel-input .iti__flag-container .iti__arrow {
  border-color: #333 transparent transparent;
}

::ng-deep .ngx-intl-tel-input .iti__flag-container.open .iti__arrow {
  border-color: transparent transparent #333;
}

::ng-deep .ngx-intl-tel-input input[type="tel"] {
  flex: 1;
  border: none;
  outline: none;
}


/* Уберите несоответствие цветов фона и рамки */
::ng-deep .ngx-intl-tel-input input[type="tel"],
::ng-deep .ngx-intl-tel-input .iti__flag-container {
  background-color: transparent;
}

.submit-button {
  margin-top: 16px;
  align-self: flex-start;
}







@media (max-width: 649px) {
  .cart-item {
    width: 400px;
  }
  .p-inputgroup{
    width: 400px;
  }
  .cart-cost-info {
    width: 400px;
  }
  .price-panel {
    width: 100%;
  }
}
