<div class="shopping-cart-container">
  <app-header-cart></app-header-cart>
<!--  product list -->
  <div class="cart">
    <app-cart-item class="cart-item"
                   *ngFor="let item of productsInCart"
                   [item]="item"
                   (countChange)="onCountChange(item, $event)"
                   (deleteItem)="deleteCartItem($event)"
                   (selectChange)="onSelectChange(item, $event)"
    ></app-cart-item>
<!--  promo Code -->
<!--  Cost + shipping -->
<!--  Price panel-->
    <app-price-panel class="price-panel" [productPrice]="totalPrice">
      <p total class="price-panel__title">Total: ({{ selectedItem }} items)</p>
      <p-button class="price-panel__button" label="Proceed to checkout" styleClass="p-button-text p-button-lg" ></p-button>
    </app-price-panel>
  </div>
</div>
