
  <div class="shopping-cart-container">
    <p-dialog
      header="Please input your phone number"
      [(visible)]="dialogVisible"
      [modal]="true"
      [style]="{ width: '55vw', height: '45vh' }"
      [draggable]="false"
      [resizable]="false">
      <app-login-form (loginSuccess)="onLoginSuccess()"></app-login-form>
    </p-dialog>

    <p-toast></p-toast>
    <app-header></app-header>
  <!--  product list -->
    <div class="cart" *ngIf="productsInCart.length>0; else emptyCart">
      <app-cart-item class="cart-item"
                     *ngFor="let item of productsInCart"
                     [item]="item"
                     (countChange)="onCountChange(item, $event)"
                     (deleteItem)="deleteCartItem($event)"
                     (selectChange)="onSelectChange(item, $event)"
      ></app-cart-item>
      <div class="cart-cost-container">
    <!--  promo Code -->
        <div class="p-inputgroup">

          <input type="text" [(ngModel)]="enteredPromoCode" pInputText [placeholder]="'pages.cart.promo-code' | translate" />
          <button type="button" pButton [label]="'pages.cart.buttons.apply'|translate" styleClass="p-button-warn" (click)="checkPromoCode()"></button>
        </div>
    <!--  Cost + shipping -->
        <div class="cart-cost-info">
          <div class="cart-cost-info__total">
            <p>{{'pages.cart.sub-total' | translate}}:</p>
            <p>{{totalPrice | currency}}</p>
          </div>
          <div class="cart-cost-info__shipping">
            <p>{{'pages.cart.shipping' | translate}}: </p>
            <p>{{shippingCost | currency}}</p>
          </div>
          <p-divider></p-divider>
        </div>
      </div>
  <!--  Price panel-->
      <app-price-panel class="price-panel" [productPrice]="totalPrice+shippingCost">
        <p total class="price-panel__title">
          {{'UI.price-panel.title.total' | translate}}: ({{ selectedItem }} {{'UI.price-panel.title.items' | translate}})
        </p>
        <p-button
          class="price-panel__button"
          [label]="'UI.price-panel.buttons.proceed-to-checkout' | translate"
          styleClass="p-button-text p-button-lg"
          (click)="confirmOrder()"
        ></p-button>
      </app-price-panel>

    </div>

  <!--  IF Cart is empty -->
    <ng-template #emptyCart >
      <h1 class="empty-cart">
        {{'pages.cart.empty-message.message' | translate}}
        <a routerLink="/shop"> {{'pages.cart.empty-message.link' | translate}}</a>!
      </h1>
    </ng-template>

  </div>
