.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  margin: 0 24px;
}

.cart-item {
  display: flex;
  height: 170px;
  width: 500px;
  border-radius: 20px;
  background-color: #fbf3ec;
  align-items: center;
  position: relative;
}

.img-container {
  display: flex;
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  margin: 0 16px;

}

.img-container .background {
  width: 100%;
  height: 100%;
  background-color: white;
  clip-path: inset(20% 0% 0% 0% round 20px);
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}


.img-container img {
  position: absolute;

  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.cart-item__info {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex: 1;

}

.cart-item__info__description__name {
  color: #021374;
  margin-bottom: 8px;
}

.cart-item__info__description__size {
  color: rgba(128, 128, 128, 0.67);
  font-size: 14px;
  margin: 0;
}

.cart-item__info__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item__info__actions__price {
  color: #0d0da9;
  font-weight: bold;
  font-size: 24px;
}

.cart-item__info__actions__counter {
  margin-right: 16px;
}

/* Delete button */
.delete-item-button{
  position: absolute;
  top: 0;
  right: 0;
  margin: -12px;
}

::ng-deep .delete-item-button button{
  background-color: rgba(128, 128, 128, 0.3) !important;
  color: white !important;
  width: 32px !important;
  height: 32px !important;
}

@media (max-width: 649px) {
 .cart-item {
 width: 400px;
 }
  .img-container {
    height: 100px;
    width: 100px;
  }
}
