<div class="container" *ngIf="item">
  <div class="checkbox">
    <p-checkbox [(ngModel)]="item.isSelected" [binary]="true" inputId="binary" (onChange)="onCheckboxChange()"></p-checkbox>
  </div>
  <div class="cart-item" >
    <div class="img-container">
      <div class="background"></div>
      <img src="{{item.product.img}}" alt="{{item.product.name}}">
    </div>
    <div class="cart-item__info">
      <div  class="cart-item__info__description">
        <h3 class="cart-item__info__description__name">{{item.product.name}}</h3>
        <p class="cart-item__info__description__size">Size: {{item.product.size}}</p>
      </div>
      <div class="cart-item__info__actions">
        <p class="cart-item__info__actions__price">{{item.product.price | currency}}</p>
        <app-counter class="cart-item__info__actions__counter" color="#021374" [value]="item.count" (valueChange)="onCounterChange($event)"></app-counter>
      </div>
    </div>
  </div>
  <p-button class="delete-item-button"
            icon="pi pi-times"
            styleClass="p-button-sm p-button-rounded p-button-text"
            (click)="onDeleteButtonClick()"
  ></p-button>
</div>
