.profile-panel {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 600px;
}

.profile-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-form-container {
  display: flex;
}

.profile-form__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

.profile-form-mr {
  margin-right: 16px;
}
.profile-form__label {
  color: #030355;
  font-weight: bold;
}

.profile-form__content {
  color: rgba(0, 0, 0, 0.9);
  font-size: 16px;
}
.edit-buttons {
  display: flex;
  justify-content: space-between;
}

input {
  width: 65%;
}

@media screen and (max-width: 665px) {
  .profile-panel {
    width: 90vw;
  }
}
