.profile-panel {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 600px;
}

.profile-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-form__flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 16px 0;
}

.profile-form-mr {
  margin-right: 16px;
}
.profile-form__nickname__label {

}
