::ng-deep app-details {
  background-color: #fbf3ec;
}

.product-detail {
  background-color: #fbf3ec;
}

.product-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto auto 150px;
}

.img-container {
  display: flex;
  width: 600px;
  height: 600px;
  overflow: hidden;
  position: relative;
  justify-content: center;
}

.img-container .background {
  width: 100%;
  height: 100%;
  background-image: url('https://www.forcrowd.org/assets/img/bg/peach-background-ground-back-16348.jpg');
  clip-path: polygon(5% 20%,95% 20%,100.00% 100%,0.00% 100%);
  border-radius: 60px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}


.img-container img {
  position: absolute;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.product-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.product-name {
  align-self: flex-start;
  color: #030355;
  font-weight: bold;
  font-size: 24px;
  margin-top: 12px;
}

.product-size {
  color: rgba(128, 128, 128, 0.67);
  font-size: 16px;
  margin: 5px 0 7px 0;
  align-self: flex-start;
}


::ng-deep .p-divider.p-divider-horizontal:before {
  border-top: 2px rgba(128, 128, 128, 0.67);
}
.description {
  display: flex;
  flex-direction: column;
}

.description h2 {
  align-self: flex-start;
  color: #030355;
  font-weight: bold;
  font-size: 24px;
}

.description p {
  color: rgba(128, 128, 128, 0.67);
  font-size: 16px;
  align-self: flex-start;
}
.product-detail-container,
.product-info,
.description-divider,
.description {
  width: 60vw;
}

/* Price block */
.app-price-panel {
  height: 150px;
  background-color: #fbf3ec;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.counter {
  margin-right: 64px;
}


.price-panel__button {
  background-color: white;
  border-radius: 10px;
}

@media screen and (max-width: 960px){
  .counter {
    margin-right: 16px;
  }
}


@media screen and (max-width: 665px) {

  .product-size,
  .description p {
    font-size: 14px;
  }
  .product-name,
  .description h2{
    font-size: 20px;
  }
  .product-detail-container,
  .product-info,
  .description-divider,
  .description {
    width: 80vw;
  }
  .img-container {
    width: 300px;
    height: 300px;
  }
  .counter{
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 400px){
  .counter {
    margin-right: 0;
  }
}
